<section id="gigs" class="container">
    <h1>All Gigs</h1>

    {{#each gigs}}
    <div class="gig">
        <div class='float-l'>
            <img src="{{img}}" alt="{{dataValues.title}}">
        </div>
        <div>
            <h3>{{dataValues.title}}</h3>
            <p>{{dataValues.description}}</p>
            <ul>
                <li>Budget: {{dataValues.budget}}</li>
                <li><a href="mailto:{{dataValues.contact_email}}" class="btn btn-reverse">Apply Now</a></li>
            </ul>
            <div class="tech">
                <small>Technologies Needed: <span>{{dataValues.technologies}}</span></small>
            </div>
        </div>
    </div>
    {{else}}
    <p>No gigs available</p>

    {{/each}}

</section>